<% provide(:title, "All Parts") %>

<ul id="parts">
  <% @parts.each do |part| %>
    <li onclick="redirectTo('<%= part_url part %>')">
      <div>
        <span class="title">
          <%= part.name %>
        </span>
        <br>
        <span class="description">
          <%= part.description %>
        </span>
      </div>
    </li>
  <% end %>
  
  <li class="new" onclick="redirectTo('<%= new_part_url %>')"></li>
</ul>
