<% provide(:title, @part.name.capitalize) %>

<p>
  <b>Description:</b>
  <%= @part.description %>
</p>

<p>
  <b>Amount:</b>
  <%= @part.amount %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
