@mixin square-map($size, $padding) {
  padding-left: 0px;
  margin: 5px 0px 0px 0px;
  
  li {
    display: inline-block;
    width: $size;
    height: $size;
    padding: $padding; 
    border: 1px solid gray;
    margin-right: 4px;
    margin-bottom: 10px;
    
    vertical-align: top;
  
    .title {
      font-size: 16pt;
    }
    
    div {
      width: 160px;
    }
    
    background-color: #eeeeee;
    
    &:hover {
      background-color: white;
    }
    
    /* for the parts amount */
    position: relative;
    .amount {
      position: absolute;
      bottom: 6px;
      right: 6px;
      color: #666666;
    }
  }
  
  .new {
    background-image: image-url("add-item.png");
    background-position: center;
  }
}