#container {
  background-image: image_url('container-background.png');
  border: 1px solid gray;
  
  padding-top: 2px;
  padding-bottom: 10px;
  
  h2 {
    font-size: 10pt;
  }
  
  div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}