#footer {
  width: auto;  
  color: white;
  background-color: black;
    
  font-family: Verdana;
  font-size: 14pt;    
  padding: 10px;
  
  div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}