$controlBlue: #00BCFF;

label {
  font-size: 12pt;
}

input[type=text], textarea {
  display: block;
  width: 800px;
  font-size: 14pt;
  margin-top: 8px;
  margin-bottom: 8px;
  font-family: Verdana;
  
  border: 1px solid gray;
  &:focus {
    border: 1px solid $controlBlue;
    box-shadow: 0px 0px 4px $controlBlue;
  }
}

input[type=text] {
  height: 30px;
  padding: 2px;
}

input[type=button],
input[type=submit] {
  border: 1px solid gray;
  height: 30px;
  font-size: 12pt;
  
  padding-left: 4px;
  padding-right: 4px;
  
  margin-top: 5px;
  
  background-color: #EEEEEE;
  &:hover {
    background-color: #CCCCCC;
    border: 1px solid #00484E;
  }
  &:active {
    background-color: #AAAAAA;
    border: 1px solid blue;
  }
}

select {
  display: block;
  width: 800px;
}

textarea {
  height: 300px;
  resize: none;
  padding: 4px;
}
