// Colors for the navigation
$headerTextColor: white;
$headerBackgroundColor: black;

// Style for the navigation
#header {
  width: auto;
  
  color: $headerTextColor;
  background-color: $headerBackgroundColor;
    
  font-family: Verdana;
  font-weight: bold;
  font-size: 14pt;    
  padding: 10px;
  
  div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    a {
      &:link {
        
      }
    } 
    
    span {
      a:link, a:visited, a:hover, a:active {
        font-size: 15pt;
        color: $headerTextColor;
        text-decoration:none;
      }
      a:hover {
        color: darken($headerTextColor,30%);
      }
    }
  }
}