// Colors for the navigation
$headerTextColor: white;
$headerBackgroundColor: black;

// Style for the navigation
#header {
  width: auto;
  
  color: $headerTextColor;
  background-color: $headerBackgroundColor;
    
  font-family: Verdana;
  font-weight: bold;
  font-size: 14pt;
    
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  
  div {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
    span {
      font-size: 15pt;
    }
    
    a {
      &:link {
        
      }
    } 
  }
}