@import '_squaremap';
@import '_colors';

#parts {
  @include square-map(169px, 10px);
}

#search_field {
  box-shadow: 2px 2px 0px 0px #777777;
  width: 778px;
  margin-top: 8px;
  margin-bottom: 14px;
  color: black;
  padding-left: 10px;
  
  &:focus {
    box-shadow: 2px 2px 0px 0px darken($controlBlue,10%);
  }
}

#sources {
  background-color: white;
  border: 1px solid gray;
  padding: 5px;
  
  .source {
    .actions {
      float: right;
    }
  }
  
  .general_buttons {
    margin-top: 8px;
  
    a:link, a:visited, a:hover, a:active {
      background-color: #eeeeee;
      border: 1px solid gray;
      padding: 0 3px 0 3px;
    }
  }
}

.property #sources {
  background-color: rgba(0,0,0,0);
  border: 0px;
}