@import '_squaremap';

#parts {
  @include square-map(169px, 10px);
}

#search_field {
  box-shadow: 2px 2px 0px 0px #777777;
  -moz-box-shadow: 2px 2px 0px 0px #777777;
  -webkit-box-shadow: 2px 2px 0px 0px #777777;
  width: 778px;
  margin-top: 8px;
  margin-bottom: 14px;
  color: black;
  padding-left: 10px;
  
  border: 1px solid gray;
  &:focus {
    border: 1px solid blue;
  }
}
