<% provide(:title, "All Categories") %>

<ul id="categories">
  <% @categories.each do |category| %>
    <li onclick="redirectTo('<%= category_url category %>')">
      <div>
        <span class="title">
          <%= category.name %>
        </span>
        <br>
        <span class="description">
          <%= category.description %>
        </span>
      </div>
    </li>
  <% end %>
  
  <li class="new" onclick="redirectTo('<%= new_category_url %>')"></li>
</ul>