<% provide(:title, "All Categories") %>

<ol id="categories">
  <% @categories.each do |category| %>
    <li onclick="redirectTo('<%= category_url category %>')">
      <div>
        <span class="category_title">
          <%= category.name %>
        </span>
        <br>
        <span class="category_description">
          <%= category.description %>
        </span>
      </div>
    </li>
  <% end %>
</ol>

<br />

<%= link_to 'New Category', new_category_path %>
