<div id="footer">
  <div>
    <ul>
      <li class="title">Pages</li>
      <li>List Parts</li>
      <li>List Categories</li>
    </ul>
    <ul>
      <li class="title">Placeholder</li>
      <li>Just a placeholder</li>
      <li>Just a placeholder</li>
    </ul>
  </div>
</div>