<div id="footer">
  <div>
    <ul>
      <li class="title">Pages</li>
      <li><%= link_to "Part list", parts_path %></li>
      <li><%= link_to "Category list", categories_path %></li>
      <li><%= link_to "Source list", sources_path %></li>
    </ul>
    <ul>
      <li class="title">Placeholder</li>
      <li>Just a placeholder</li>
      <li>Just a placeholder</li>
    </ul>
  </div>
</div>